In [1]:
import pandas as pd
import psycopg2

In [2]:
engine = psycopg2.connect("dbname='demo' user='postgres' host='localhost' port='5432' password='postgres'")

In [3]:
df = pd.read_sql('select * from bookings.aircrafts_data', con=engine)

C:\Users\Maksim\AppData\Local\Temp\ipykernel_23156\2198133464.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from bookings.aircrafts_data', con=engine)

In [4]:
df

  aircraft_code                                              model  range
0           773    {'en': 'Boeing 777-300', 'ru': 'Боинг 777-300'}  11100
1           763    {'en': 'Boeing 767-300', 'ru': 'Боинг 767-300'}   7900
2           SU9  {'en': 'Sukhoi Superjet-100', 'ru': 'Сухой Суп...   3000
3           320  {'en': 'Airbus A320-200', 'ru': 'Аэробус A320-...   5700
4           321  {'en': 'Airbus A321-200', 'ru': 'Аэробус A321-...   5600
5           319  {'en': 'Airbus A319-100', 'ru': 'Аэробус A319-...   6700
6           733    {'en': 'Boeing 737-300', 'ru': 'Боинг 737-300'}   4200
7           CN1  {'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208...   1200
8           CR2  {'en': 'Bombardier CRJ-200', 'ru': 'Бомбардье ...   2700

In [5]:
df.shape #9 строк и 3 столбца

(9, 3)

Тип столбцов

In [6]:
df.dtypes

aircraft_code    object
model            object
range             int64
dtype: object

In [7]:
df['range'].unique()

array([11100,  7900,  3000,  5700,  5600,  6700,  4200,  1200,  2700],
      dtype=int64)

Частота встречающихся значений

In [8]:
df_unique = df[df['range'] > 5000]
df_unique['aircraft_code'].value_counts()

773    1
763    1
320    1
321    1
319    1
Name: aircraft_code, dtype: int64

Количество уникадьных значений - 5

In [36]:
len(df_unique['aircraft_code'].unique())

5

Минимум - 1200
Средняя - 5344.4
Медиана - 5600
Максимум - 11100

In [40]:
df['range'].describe()

count        9.000000
mean      5344.444444
std       3013.764718
min       1200.000000
25%       3000.000000
50%       5600.000000
75%       6700.000000
max      11100.000000
Name: range, dtype: float64