In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv(r'C:\Users\Maksim\Desktop\datasets\TelecomChurn.csv')

In [33]:
df.shape[0]

667

In [34]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [35]:
df.iloc[:1]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False

In [36]:
df_1 = df.iloc[:df.shape[0] // 2]

In [37]:
df_2 = df.iloc[df.shape[0] // 2:]

In [38]:
df_1.shape, df_2.shape

((333, 20), (334, 20))

In [39]:
df_3 = pd.concat([df_1, df_2], axis=0)

In [40]:
df_3.shape

(667, 20)

In [41]:
df.duplicated().sum() # Дубликатов нету

0

In [42]:
df.isna().sum() # Пропусков нету, значит надо добавить

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [43]:
#Заполнение пропусков
for column in df.columns:
    size = np.random.randint(50, 100)
    rows = np.random.randint(0, df.shape[0], size = size)
    df.loc[rows, column] = np.nan

In [44]:
df.isna().sum()

State                     60
Account length            52
Area code                 56
International plan        49
Voice mail plan           79
Number vmail messages     67
Total day minutes         63
Total day calls           48
Total day charge          88
Total eve minutes         79
Total eve calls           92
Total eve charge          51
Total night minutes       53
Total night calls         74
Total night charge        93
Total intl minutes        70
Total intl calls          70
Total intl charge         86
Customer service calls    65
Churn                     85
dtype: int64

In [45]:
na_index = df[df['Total eve calls'].isna()].index # Получаем индексы пропусков

In [46]:
na_index

Int64Index([  7,  26,  34,  36,  45,  46,  50,  61,  74,  84,  90,  91,  98,
            106, 119, 123, 125, 127, 128, 138, 139, 141, 143, 147, 167, 176,
            184, 185, 192, 210, 217, 223, 224, 232, 248, 267, 273, 278, 280,
            283, 285, 292, 294, 295, 301, 304, 315, 325, 332, 345, 349, 362,
            377, 382, 389, 397, 416, 426, 433, 437, 449, 455, 464, 468, 469,
            487, 490, 502, 512, 513, 534, 560, 561, 578, 586, 592, 595, 599,
            611, 612, 614, 622, 625, 626, 630, 633, 642, 644, 646, 648, 653,
            665],
           dtype='int64')

In [47]:
size_na = df['Total eve calls'].isna().sum()
random = df['Total eve calls'].dropna().sample(size_na).values
df.loc[df['Total eve calls'].isna(), 'Total eve calls_rand'] = random

In [48]:
df.loc[na_index, 'Total eve calls_rand']

7      113.0
26     142.0
34     105.0
36     123.0
45      90.0
       ...
644    106.0
646     86.0
648    104.0
653    142.0
665     86.0
Name: Total eve calls_rand, Length: 92, dtype: float64

In [49]:
df.loc[df['Total eve calls'].isna(), 'Total eve calls'] = random

In [50]:
df['Total eve calls']

0       80.0
1       83.0
2       97.0
3      102.0
4      109.0
       ...
662    125.0
663    131.0
664    110.0
665     86.0
666     84.0
Name: Total eve calls, Length: 667, dtype: float64

In [51]:
df.describe() #Выбросов в датасете нету

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Total eve calls_rand
count,615.000000,611.000000,600.000000,604.000000,619.000000,579.000000,588.000000,667.000000,616.000000,614.000000,593.000000,574.000000,597.000000,597.000000,581.000000,602.000000,92.000000
mean,102.170732,436.581015,8.701667,180.164570,101.011309,30.622781,202.319728,100.014993,17.308263,199.718078,99.883642,9.006951,10.229481,4.489112,2.790275,1.549834,100.336957
std,40.893025,42.011527,14.256510,55.455789,20.100835,9.427188,50.068853,18.651854,4.260615,49.623225,20.235730,2.225733,2.805005,2.449209,0.756283,1.344865,18.224653
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000,56.000000
25%,75.000000,415.000000,0.000000,144.475000,88.000000,24.770000,169.875000,88.000000,14.587500,168.800000,86.000000,7.520000,8.600000,3.000000,2.320000,1.000000,88.000000
50%,101.000000,415.000000,0.000000,178.350000,101.000000,30.110000,202.700000,101.000000,17.305000,201.650000,99.000000,9.120000,10.500000,4.000000,2.860000,1.000000,103.000000
75%,127.000000,415.000000,21.000000,217.425000,115.000000,36.900000,235.150000,112.000000,20.102500,231.200000,113.000000,10.420000,12.000000,6.000000,3.270000,2.000000,113.500000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000,142.000000

In [52]:
df['Account length Norm'] = (df['Account length'] - df['Account length'].min()) / (df['Account length'].max() - df['Account length'].min()) 
# Нормализация данных

In [53]:
df['Account length Norm'] # Нормализация данных

0      0.502165
1      0.277056
2      0.692641
3      0.476190
4      0.207792
         ...
662    0.489177
663    0.454545
664    0.255411
665    0.683983
666         NaN
Name: Account length Norm, Length: 667, dtype: float64